body {
  margin: 0;
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap: 32px;
  background: #e0e0e0;

}

form {
    box-sizing: border-box;
    border: none;
    outline: none;
    appearance: none;
    width: 560px;
    padding: 24px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #b8b8b8,
            inset -5px -5px 10px #ffffff;
    font-size:16px;
}
input {
  width:95%;
  border:none;
  outline:none;
  font-size:16px;
  background:none;
}
.searchengine {
  box-sizing: border-box;
  border: none;
  outline: none;
  appearance: none;
  width: 128px;
  height: 50px;
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: 2px 2px 5px #b8b8b8,
             -5px -5px 10px #ffffffff;
  font-size: 16px;
}
.searchengine:focus {
  text-decoration:underline;
  color:#888888;
  box-shadow: inset 5px 5px 10px #b8b8b8,
            inset -5px -5px 10px #ffffff;
}
.pointer {
  display:none;
}
button:focus-visible .pointer{
  display:inline;
}
form:focus-within .pointer{
  display:inline;
}
#engine {
  display: flex;
  width: 560px;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 16px;
}
#dashboard {
  display:block;
  box-sizing: border-box;
  border: none;
  outline: none;
  position:fixed;
  width:64px;
  height:64px;
  padding:8px;
  right:32px;
  top:43%;
  background: #e0e0e0;
  transform-origin:top right;
  box-shadow: inset 5px 5px 10px #b8b8b8,
            inset -5px -5px 10px #ffffff;
  transition:
  width 0.2s ease,
  height 0.2s ease,
  box-shadow 0.1s ease;

}

#dashboard:focus-within , #dashboard:hover {
  display:flex;
  height: 256px;
  padding:24px;
  width:240px;
  flex-direction:row;
  overflow-y: scroll;
  flex-wrap: wrap;
  gap:24px;  
  align-content: flex-start;
  box-shadow: inset 5px 5px 10px #b8b8b8,
            inset -5px -5px 10px #ffffff;
}
.shortcut {
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  border: none;
  outline: none;
  appearance: none;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius:100%;
  background-color:#FFFFFF;
  font-size:8px;
  align-items:center;
}
#dashboard:focus-within .shortcut,
#dashboard:hover .shortcut {
  animation: appear 0.2s ease 0.2s forwards;
}
#fs {
  display:block;
    box-sizing: border-box;
    border: none;
    outline: none;
    appearance: none;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 100%;
    background-color: #ffffff;
    font-size: 8px;
    align-items:center;
}
#dashboard:hover #fs,
#dashboard:focus-within #fs {
  opacity:0;
  visibility:none;
  animation:appear 0.2s ease 0.2s forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.shortcut:focus,.shortcut:hover {
  border:2px solid #0000FF;
}
#fs:focus,#fs:hover {
  border:2px solid #0000FF;
}
